*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



header{

    font-family: 'Times New Roman', Times, serif;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    box-shadow: grey 4px 0.1px 10px 0.1px ;

}


.LOGO{
    text-transform: capitalize;
}


ul{
    list-style: none;

    display: flex;
    gap: 50px;
}

li a{
    text-decoration: none; 
    color: black;
    text-transform: capitalize;
}

li a:hover{
    color: skyblue;
text-decoration:underline;
}

.herosection{
    font-family: 'Times New Roman', Times, serif;
height: 44.5vw;
margin-top: 13px;


    background-image: url(/camera\ map.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}




.destination{
    height: 44.5vw;
    margin-top:0px;



}

.aboutsection{
    height: 44.5vw; 
    margin-top: 500px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.atext{
display: flex;
flex-direction: column;
justify-content: center;
}


.contactsection{

    height: 44.5vw;
    margin: 30px;

    display: grid;
    flex-direction: column;
    justify-content: space-around;

}

.ch1{
    text-align: center;

}


.video-background{
    margin-top: 30px;
    position: absolute;
    width: 100%;
    min-height: 100vw;
}

form{
    text-align: center;
}




@media (max-width: 1024px ) {
    .box {
        display: flex; 
    }
}
@media (max-width: 768px ) {
    .box {
        display: flex;
        
    }
}
@media (max-width: 320px ) {
    .box {
        display: flex;
    }

}

footer{
    display: grid;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}
.copy{
    text-align: center;
}
 
